.titulo
{
    padding-bottom: 25px;
}

.white-hr {
    border-color: white; /* Color blanco */
    border-width: 2px; /* Grosor de la línea */
  }

.subtitulo
{
    padding-top: 50px;
}

.nombre-column {
    max-width: 100px;
  }
