<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="cerrarModal()">
      <ion-back-button defaultHref="/tab/establecimientos"></ion-back-button>
    </ion-buttons>
    <ion-title>Filtrar Establecimientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">        
  <div class="ion-padding-vertical">
    <h3>Tipos de establecimientos:</h3>    
    <ion-list>
      <ion-item>
        <ion-label>Estaciones de servicio</ion-label>
        <ion-checkbox [(ngModel)]="estaciones"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Talleres mecanicos</ion-label>
        <ion-checkbox [(ngModel)]="talleres"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Gomerias</ion-label>
        <ion-checkbox [(ngModel)]="gomerias"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>

  <div class="ion-padding ion-text-center">
    <ion-button (click)="aplicarFiltros()" class="ion-text-center">
      Aplicar filtros
    </ion-button>         
  </div>
</ion-content>        