.precio
{
    margin-top: 10px;
    color: white;
}

.ion-card-content-color
{
    background-color: rgb(50, 104, 206);
}

.image-container {
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }
  
  .full-image {
    width: auto;
    height: 100%;
    object-fit: contain; 
    object-position: center; 
  }