<app-header></app-header>
  
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="Pulse para actualizar"
            refreshingSpinner="circles"
            refreshingText="Actualizando...">
        </ion-refresher-content>
    </ion-refresher>
    
    <ion-fab vertical="bottom" horizontal="end"  slot="fixed">
        <ion-fab-button (click)="clickModal()"  color="medium">
          <ion-icon name="filter-circle-sharp"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    <ion-searchbar color="dark" (ionInput)="buscar( $event )" debounce="1000" animated placeholder="Buscar productos..."></ion-searchbar>
    <div *ngIf="productos.length === 0" class="col-md-10 alert alert-warning text-center mt-1">
        <h1 class="alert-heading">No hay registros </h1>
        <p><i class="fa fa-exclamation fa-5x"></i></p>
    </div>
    <ion-card *ngFor="let producto of productos" (click)="openProductDetail(producto.idProducto)">      
      <div class="image-container">
        <ion-img [src]="producto.imagenContenido" class="full-image"></ion-img>
      </div>
      <ion-card-content class="ion-text-center ion-card-content-color">
          <ion-card-title class="precio">
              {{producto.nombre}}
          </ion-card-title>
          <h1 class="precio">
              ${{producto.precio}}
          </h1>
      </ion-card-content>
    </ion-card> 

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  
  </ion-content>