<app-header></app-header>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="clima">
        <ion-icon name="partly-sunny-outline"></ion-icon>
        <ion-label>Clima</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="market-place">        
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label>MarketPlace</ion-label>
      </ion-tab-button>     
      <ion-tab-button tab="establecimientos">
          <ion-icon name="construct-outline"></ion-icon>
          <ion-label>Establecimientos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>